<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Be+Vietnam:400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <title></title>
</head>
<body>
    <div class="main-container">
            <div class="app">
                    
                    <div class="container">
                            <h1>List of 10 most polluted Cities:</h1>
                            <h3><%- country %></h3>
                            <table class="table table-condensed"  id="myTable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>City</th>
                                    <th>Value</th>
                                    <th>Latitude</th>
                                    <th>Longitude</th>
                                </tr>
                            </thead>
                            <tbody class="panel">
                            <% for(let j=0; j<10; j++) { %>
                                <tr data-toggle="collapse" data-target="#<%- cities[j].desc + j; %>" data-parent="#myTable">
                                    <td><%- a = j+1 %></td>
                                    <td><%- cities[j].name; %></td>
                                    <td><%- value[j].measurements[0].value %></td>
                                    <td><%- value[j].coordinates.latitude %></td>
                                    <td><%- value[j].coordinates.longitude %></td>
                                    <td>   
                                        <%- //cities[j].desc; %>
                                    </td>
                                </tr>
                                <tr id="<%- cities[j].desc + j; %>" class="collapse">
                                    <td colspan="5" class="hiddenRow"><div>
                                            <% if (cities[j].desc == ' ') { %>
                                                    <%- msg %>
                                                <% } else { %>
                                                <%- cities[j].desc; %>
                                            <% } %>   
                                    </div> </td>
                                </tr>
                            <% } %>   
                            </tbody>
                        </table>
                    </div>                        
        
    </div>
    <script>
       
    </script>
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>